@import "tailwindcss";

@theme {
  --text-xs: 1.125rem;
  --text-xs--line-height: 1.5rem;
  --text-sm: 1.25rem;
  --text-sm--line-height: 1.75rem;
  --text-base: 1.375rem;
  --text-base--line-height: 2rem;
  --text-lg: 1.5rem;
  --text-lg--line-height: 2rem;
  --text-xl: 1.75rem;
  --text-xl--line-height: 2.375rem;
  --text-2xl: 2.0625rem;
  --text-2xl--line-height: 2.625rem;
  --text-3xl: 2.375rem;
  --text-3xl--line-height: 2.875rem;
  --text-4xl: 2.625rem;
  --text-4xl--line-height: 3.125rem;
  --text-5xl: 3.5rem;
  --text-5xl--line-height: 1;
  --text-6xl: 4.25rem;
  --text-6xl--line-height: 1;
  --text-7xl: 5.125rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6.75rem;
  --text-8xl--line-height: 1;
  --text-9xl: 9rem;
  --text-9xl--line-height: 1;
}

body {
  @apply bg-zinc-950 text-zinc-100 min-h-screen;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  @apply max-w-2xl mx-auto px-4 py-8;
}
